@charset "utf-8";
/* CSS Document */

TD.StatusBarBtnOff {
	BORDER-RIGHT: 1px outset; 
	PADDING-RIGHT: 5px; 
	BORDER-TOP: 1px outset; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 1px; 
	BORDER-LEFT: 1px outset; 
	CURSOR: pointer; 
	PADDING-TOP: 1px; 
	BORDER-BOTTOM: 1px outset
}
TD.StatusBarBtnOn {
	BORDER-RIGHT: 1px inset; 
	PADDING-RIGHT: 5px;
	BORDER-TOP: 1px inset; 
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 1px; 
	BORDER-LEFT: 1px inset; 
	PADDING-TOP: 1px; 
	BORDER-BOTTOM: 1px inset;
	BACKGROUND-COLOR: #eeeeee
}
A:link {
	COLOR: #000000; 
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; 
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: 
	underline
}

TABLE {
	FONT-SIZE: 9pt; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma, Verdana
}
TEXTAREA {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma, Verdana; 
	BACKGROUND-COLOR: #f8f8f8
}
SELECT {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 8pt; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma, Verdana; 
	BACKGROUND-COLOR: #f8f8f8
}
SELECT {
	FONT-SIZE: 8pt; 
	COLOR: #000000; 
	FONT-FAMILY: Tahoma, Verdana; 
	BACKGROUND-COLOR: #f8f8f8
}
#TableTitleLink A:link {
	COLOR: #ffffff; 
	TEXT-DECORATION: none
}
#TableTitleLink A:visited {
	COLOR: #ffffff;
	TEXT-DECORATION: none
}
.a1 {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	BACKGROUND-IMAGE: url(titlebg.gif); 
	COLOR: #ffffff; 
	FONT-FAMILY: Tahoma, Verdana; 
	BACKGROUND-COLOR: #666666
}
.a2 {
	BORDER-RIGHT: #666666 1px solid; 
	BORDER-TOP: #666666 1px solid; 
	BACKGROUND: #d6e0ef; 
	BORDER-LEFT: #666666 1px solid; 
	BORDER-BOTTOM: #666666 1px solid
}
.a3 {
	BACKGROUND-COLOR: #f8f8f8
}
.a4 {
	BACKGROUND-COLOR: #ffffff
}
.qyc1 {
	BORDER-RIGHT: #cccccc 1px dotted; 
	PADDING-RIGHT: 4px; 
	BORDER-TOP: #cccccc 1px dotted; 
	PADDING-LEFT: 4px; 
	PADDING-BOTTOM: 4px; 
	MARGIN: 16px; 
	BORDER-LEFT: #cccccc 1px dotted; 
	PADDING-TOP: 4px;
    BORDER-BOTTOM: #cccccc 1px dotted
}
.menuskin {
	BORDER-RIGHT: #ffffff 3px solid; BORDER-TOP: #ffffff 3px solid; VISIBILITY: hidden; BORDER-LEFT: #ffffff 3px solid; BORDER-BOTTOM: #ffffff 3px solid; POSITION: absolute; BACKGROUND-COLOR: #dedede
}
.menuitems {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; MARGIN: 2px; LINE-HEIGHT: 14pt; PADDING-TOP: 1px
}
#mouseoverstyle {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #666666
}
#mouseoverstyle A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.menuskin A {
	PADDING-RIGHT: 20px; PADDING-LEFT: 10px
}
