@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFFFFF;
	margin-top:0px;
	margin-bottom:0px;
	font-size:12px;
	font-family:tahoma, ËÎÌå, fantasy;
	text-align:center;
	scrollbar-face-color: #6595d6; 
	scrollbar-highlight-color:#ddeefe; 
	scrollbar-shadow-color: #8eb2d7; 
	scrollbar-3dlight-color: #8eb2d7; 
	scrollbar-arrow-color: #2e63b1; 
	scrollbar-track-color: #ddeefe; 
	scrollbar-darkshadow-color: #2e63b1;
}

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color:#3366CC;
}
a:active {
	text-decoration: none;
	color: #00FFFF;
}

.mainbar {
    border-width:1px;
	border-style:solid;
	border-color:#6595d6;
	text-align:center;
	font-size:6px;
}

#topbarTop {
   font-size:0px;
   color:#6595d6;
   background-image:url(../images/topbg.gif);
   line-height:9px;
   height:9px;
}

#loginImg {
   text-align:left;
}

#topbarBottom {
   font-size:0px;
   color:#6595d6;
   background-image:url(../images/bottombg.gif);
   line-height:9px;
   height:9px;
}
.topOption {
   font-size:12px;
   color:#333333;
   text-align:center;
}
.topMenu {
   font-size:12px;
   color:#333333;
   text-align:left;
   height:23px;
   background-image:url(../images/tabs_m_tile.gif);
}

.mainBody{
    border-width:1px;
	border-style:solid;
	border-color:#6595d6;
	text-align:left;
	font-size:12px;
}

.lineImg {
    font-size:12px;
	font-weight:bolder;
	color:#FFFFFF;
	text-align:center;
	height:25px;
	background-color:#6595d6;
    background-image:url(../images/bg1.gif);
}
.tableLeft{
    width:150px;
	text-align:center;
}

.tableRight{
    width:830px;
}

.leftTable {
    border-right-width:1px;
	border-right-style:solid;
	border-right-color:#6595d6;
	text-align:center;
	font-size:12px;
	width:150px;
	height:500px;
}

.bottomTable {
   border-top-width:1px;
   border-top-style:solid;
   border-top-color:#6595d6;
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
   font-size:12px;
   color:#000000;
}

.leftMenu {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #6595d6;
	text-align:left;
}

.input {
	border: 1px solid #6595d6;
	width:133px;
	height:16px;
}
.addInput {
    border: 1px inset #CCCCCC;
	width:150px;
	height:16px;
}
.submit {
   border: 1px solid #6595d6;
   background-color:#FFFFFF;
   width:38px;
   height:19px;
}
.submitother{
   border: 1px solid #6595d6;
   background-color:#FFFFFF;
   width:60px;
   height:19px;
}
.submittable{
   border: 1px solid #6595d6;
   background-color:#FFFFFF;
   width:38px;
   height:15px;
}

.button  {
   border: 1px solid #6595d6;
   background-color:#FFFFFF;
   width:50px;
   height:19px;
}
.moduleTitle{
	font-size:15px;
	font-weight:lighter;
	color:#333333;
	letter-spacing: 5px;
	width:800px;
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #6595d6;
}

.search {
    font-size:12px;
    height:25px;
	letter-spacing: 5px;
}

.blankLine {
   height:8px;
}

.selectElement{
	background-color: #FFFFFF;
	border: 1px groove #6595d6;
	height:16px;
}

.loginTable {
    font-size:12px;
    width:980px;
}
.loginTop {
    font-size:13px;
	font-weight:bolder;
	color:#FFFFFF;
	height:167px;
    background-image:url(../images/shang.jpg);
}
.loginMiddle {
    font-size:12px;
	height:500px;
    background-image:url(../images/zhong.jpg);
}
.loginBottom {
    height:21px;
    background-image:url(../images/xia.jpg);
}
.loginTitle {
    width:980px;
	height:167px;
	font-size:16px;
	color:#FFFFFF;
	font-weight:bolder;
	letter-spacing: 5px;
}
.loginLogin {
   width:980px;
   height:500px;
   font-size:12px;
}
.titleLine {
   height:20px;
   width:800px;
   font-size:12px;
   background-color:#e4e8ef;
}
.moduleList {
    height:20px;
    font-size:12px;
	color:#333333;
	width:800px;
}
.submitLine {
    height:25px;
}